@import "tailwindcss";

@source "../index.html";
@source "../app.js";

@source inline("active alert alert-info alert-warning badge badge-soft bg-base-100 bg-base-200 bg-base-300 border border-base-300 btn btn-circle btn-error btn-ghost btn-lg btn-primary btn-sm btn-soft btn-square card card-actions card-body card-title checkbox checkbox-md checkbox-primary checkbox-sm collapse collapse-arrow collapse-content collapse-title dock dock-active dock-label dock-lg dropdown dropdown-content dropdown-end fieldset fieldset-legend font-bold input input-sm label list list-row max-w-[calc(100vw-2rem)] menu modal modal-action modal-box modal-top p-2 p-3 rounded-box select select-sm shadow text-base-content/60 text-sm toast toast-center toast-top toggle toggle-primary toggle-sm w-52 w-72 z-10 z-20");

@plugin "daisyui" {
  themes: emerald --default, dim --prefersdark;
}


@plugin "daisyui/theme" {
  name: "emerald";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(96% 0.001 286.375);
  --color-base-300: oklch(92% 0.004 286.32);
  --color-base-content: oklch(27% 0.006 286.033);
  --color-primary: oklch(76.662% 0.135 153.45);
  --color-primary-content: oklch(33.387% 0.04 162.24);
  --color-secondary: oklch(61.302% 0.202 261.294);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(72.772% 0.149 33.2);
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: oklch(35.519% 0.032 262.988);
  --color-neutral-content: oklch(98.462% 0.001 247.838);
  --color-info: oklch(72.06% 0.191 231.6);
  --color-info-content: oklch(0% 0 0);
  --color-success: oklch(64.8% 0.15 160);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "dim";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(21% 0.006 285.885);
  --color-base-200: oklch(0% 0 0);
  --color-base-300: oklch(27% 0.006 286.033);
  --color-base-content: oklch(82.901% 0.031 222.959);
  --color-primary: oklch(86.133% 0.141 139.549);
  --color-primary-content: oklch(17.226% 0.028 139.549);
  --color-secondary: oklch(73.375% 0.165 35.353);
  --color-secondary-content: oklch(14.675% 0.033 35.353);
  --color-accent: oklch(74.229% 0.133 311.379);
  --color-accent-content: oklch(14.845% 0.026 311.379);
  --color-neutral: oklch(24.731% 0.02 264.094);
  --color-neutral-content: oklch(82.901% 0.031 222.959);
  --color-info: oklch(86.078% 0.142 206.182);
  --color-info-content: oklch(17.215% 0.028 206.182);
  --color-success: oklch(86.171% 0.142 166.534);
  --color-success-content: oklch(17.234% 0.028 166.534);
  --color-warning: oklch(86.163% 0.142 94.818);
  --color-warning-content: oklch(17.232% 0.028 94.818);
  --color-error: oklch(82.418% 0.099 33.756);
  --color-error-content: oklch(16.483% 0.019 33.756);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

